.herader-area {
    padding: 20px 0;
    .logo {
        float: left;
        width: 200px;
        a {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 30px;
            color: $primary_color;
            
        }
    }
    .menu {
        float: right;
        width: 970px;
        margin-left: 30px;
        ul{
            text-align: right;
            li{
                display: inline-block;
                a{
                    margin-left: 25px;
                    font-size: 18px;
                    font-weight: 500;
                    text-transform: uppercase;
                    &:hover{
                        color: $primary_color;
                    }
                }
            }
        }
    }
}